div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

div > button{
    padding: 10px 20px;
    width: max-content;
}

form > label{
    font-size: large;
}
form > input{
    padding: 5px 10px;
    margin: 5px 0px 20px;
    width: 200px;
}

form > button{
    padding: 5px 20px;
    margin-right: 20px;

}
